# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.procedural_art.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\dev\saxion\unity\procedural_art\.idea\.idea.procedural_art\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
