# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HDRP9.0Test.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\dev\unity\HDRP9.0Test\.idea\.idea.HDRP9.0Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
